AUTH_PROVIDER=keycloak
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ISSUER=
AUTENTIKA_CLIENT_ID=
AUTENTIKA_CLIENT_SECRET=
AUTENTIKA_HOST=
AUTENTIKA_TENANT_NAME=carbon.super
AUTENTIKA_SCOPES=openid internal_login
NEXTAUTH_SECRET=
NEXTAUTH_URL=
NEXTAUTH_URL_INTERNAL=
NEXT_PUBLIC_IGRP_MINIO_URL=
