{
  "openapi": "3.1.0",
  "info": {
    "title": "iGRP Access Management API"
  },
  "servers": [
    {
      "url": "https://api-demoigrp.nosi.cv/igrp-access-management",
      "description": "Configured Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Roles",
      "description": "Role Management"
    },
    {
      "name": "Admin User Session Management",
      "description": "Per-user administrative session operations (Phase E4/E5)"
    },
    {
      "name": "Users",
      "description": "User"
    },
    {
      "name": "Files",
      "description": "File Management"
    },
    {
      "name": "Application",
      "description": "Application Management"
    },
    {
      "name": "Department",
      "description": "Department Management"
    },
    {
      "name": "GlobalConfiguration",
      "description": "Global Configuration"
    },
    {
      "name": "OAuth Clients",
      "description": "Manage OAuth2 clients"
    },
    {
      "name": "Service Accounts",
      "description": "Manage OAuth client service accounts"
    },
    {
      "name": "M2m",
      "description": "Machine-to-Machine"
    },
    {
      "name": "Admin Session Management",
      "description": "Administrative session management endpoints"
    },
    {
      "name": "Session Management",
      "description": "User session management endpoints"
    },
    {
      "name": "Authorization",
      "description": "Checking authorization for action"
    }
  ],
  "paths": {
    "/api/users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user",
        "description": "This Permission is required: igrp.users.view",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGRPUserDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update user",
        "description": "This Permission is required: igrp.users.update",
        "operationId": "updateUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGRPUserDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/IGRPUserDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/{id}/status": {
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update user status",
        "description": "This Permission is required: igrp.users.manage",
        "operationId": "updateUserStatus",
        "parameters": [
          {
            "name": "value",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/IGRPUserDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/{id}/metadata": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user metadata",
        "description": "Return the free-form metadata JSON associated with the user. Used by the OAuth2 authorization server for token enrichment.",
        "operationId": "getUserMetadata",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/UserMetadataDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update user metadata",
        "description": "Replace the user's metadata JSON. Used by operators and by OAuth federation flows to enrich the user profile.",
        "operationId": "updateUserMetadata",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserMetadataRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/UserMetadataDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/me": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get current user",
        "description": "Get current user",
        "operationId": "getCurrentUser",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/IGRPUserDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update current user",
        "description": "Update current user data (only own data)",
        "operationId": "updateCurrentUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGRPUserDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/IGRPUserDTO"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IGRPUserDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/invite/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user invitation",
        "description": "Get user invitation",
        "operationId": "getUserInvitation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/InvitationDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Resend user invitation",
        "description": "This Permission is required: igrp.users.manage",
        "operationId": "resendUserInvitation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/InvitationDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Cancel user invitation",
        "description": "This Permission is required: igrp.users.manage",
        "operationId": "cancelUserInvitation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/InvitationDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/service-accounts/{id}": {
      "get": {
        "tags": [
          "Service Accounts"
        ],
        "summary": "Get service account by id",
        "operationId": "findById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Service Accounts"
        ],
        "summary": "Update service account",
        "operationId": "update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceAccountRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Service Accounts"
        ],
        "summary": "Delete service account",
        "operationId": "delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/departments/{departmentCode}/roles/{roleCode}": {
      "put": {
        "tags": [
          "Department"
        ],
        "summary": "Update role",
        "description": "This Permission is required: igrp.departments.manage",
        "operationId": "updateRole",
        "parameters": [
          {
            "name": "departmentCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/RoleDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Department"
        ],
        "summary": "Delete role",
        "description": "This Permission is required: igrp.departments.manage",
        "operationId": "deleteRole",
        "parameters": [
          {
            "name": "departmentCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/departments/{code}": {
      "put": {
        "tags": [
          "Department"
        ],
        "summary": "Update department",
        "description": "This Permission is required: igrp.departments.update",
        "operationId": "updateDepartment",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepartmentDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated Department",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/DepartmentDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Department"
        ],
        "summary": "Delete department",
        "description": "This Permission is required: igrp.departments.delete",
        "operationId": "deleteDepartment",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/clients/{id}": {
      "get": {
        "tags": [
          "OAuth Clients"
        ],
        "summary": "Get OAuth client by id",
        "description": "This Permission is required: igrp.client.view",
        "operationId": "findById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthClientDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "OAuth Clients"
        ],
        "summary": "Update OAuth client",
        "description": "This Permission is required: igrp.client.update",
        "operationId": "update_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuthClientRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthClientDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "OAuth Clients"
        ],
        "summary": "Delete OAuth client",
        "description": "This Permission is required: igrp.client.delete",
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/applications/{code}": {
      "put": {
        "tags": [
          "Application"
        ],
        "summary": "Update application",
        "description": "This Permission is required: igrp.applications.update",
        "operationId": "updateApplication",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The Updated Application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Application"
        ],
        "summary": "Delete application",
        "description": "This Permission is required: igrp.applications.delete",
        "operationId": "deleteApplication",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/applications/{applicationCode}/menus/{menuCode}": {
      "put": {
        "tags": [
          "Application"
        ],
        "summary": "Update menu",
        "description": "This Permission is required: igrp.applications.manage",
        "operationId": "updateMenu",
        "parameters": [
          {
            "name": "applicationCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "menuCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MenuEntryDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The Updated Menu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MenuEntryDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Application"
        ],
        "summary": "Delete menu",
        "description": "This Permission is required: igrp.applications.delete",
        "operationId": "deleteMenu",
        "parameters": [
          {
            "name": "applicationCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "menuCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/{id}/roles/active": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get active user role",
        "description": "This Permission is required: igrp.users.manage",
        "operationId": "getActiveUserRole",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/RoleDepartmentDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Set active user role",
        "description": "This Permission is required: igrp.users.manage",
        "operationId": "setActiveUserRole",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleDepartmentDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/RoleDepartmentDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/{id}/departments/{departmentCode}/roles": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user department roles",
        "description": "This Permission is required: igrp.users.view",
        "operationId": "getUserDepartmentRoles",
        "parameters": [
          {
            "name": "roleCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "departmentCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/RoleDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Add roles to user",
        "description": "This Permission is required: igrp.users.manage",
        "operationId": "addRolesToUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "departmentCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddRolesToUserRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDTO"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Remove roles from user",
        "description": "This Permission is required: igrp.users.manage",
        "operationId": "removeRolesFromUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "departmentCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/RoleDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/me/roles/active": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get active current user role",
        "description": "Get active current user role",
        "operationId": "getActiveCurrentUserRole",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/RoleDepartmentDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Set active current user role",
        "description": "Set active current user role",
        "operationId": "setActiveCurrentUserRole",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleDepartmentDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/RoleDepartmentDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/me/applications/recent/{applicationCode}": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Register access history",
        "description": "Register access history",
        "operationId": "registerAccessHistory",
        "parameters": [
          {
            "name": "applicationCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/me/applications/favorites/{applicationCode}": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Add favorite application",
        "description": "Add favorite application",
        "operationId": "addFavoriteApplication",
        "parameters": [
          {
            "name": "applicationCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Remove favorite application",
        "description": "Remove favorite application",
        "operationId": "removeFavoriteApplication",
        "parameters": [
          {
            "name": "applicationCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/invite": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user invitations",
        "description": "This Permission is required: igrp.users.manage",
        "operationId": "getUserInvitations",
        "parameters": [
          {
            "name": "identifierValue",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/InvitationDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Invite user",
        "description": "This Permission is required: igrp.users.create",
        "operationId": "inviteUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteUserDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/InvitationDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/invite/validate-otp": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Validate Invitation OTP",
        "description": "Validate OTP code",
        "operationId": "validateInvitationOtp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateInvitationOtpCommand"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/OtpResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/invite/validate-email": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Validate Invitation Email",
        "description": "Validate email and send OTP",
        "operationId": "validateInvitationEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateInvitationEmailCommand"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/OtpResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/invite/response": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Respond user invitation",
        "description": "Respond user invitation",
        "operationId": "respondUserInvitation",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInvitationResponseDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/InvitationDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/session/rotate": {
      "post": {
        "tags": [
          "Session Management"
        ],
        "summary": "Rotate session",
        "description": "Closes the current session and creates a new one (session fixation protection)",
        "operationId": "rotateSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionInitRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Session rotated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/session/refresh": {
      "post": {
        "tags": [
          "Session Management"
        ],
        "summary": "Refresh session",
        "description": "Extends the expiration time of the current active session",
        "operationId": "refreshSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionRefreshRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session refreshed successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponseDTO"
                }
              }
            }
          },
          "404": {
            "description": "No active session to refresh",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/service-accounts": {
      "get": {
        "tags": [
          "Service Accounts"
        ],
        "summary": "List service accounts",
        "operationId": "findAll",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ServiceAccountDTO"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Service Accounts"
        ],
        "summary": "Create service account",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceAccountRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/m2m/users": {
      "post": {
        "tags": [
          "M2m"
        ],
        "summary": "Get users for business",
        "description": "Get users for business",
        "operationId": "getUsersForBusiness",
        "parameters": [
          {
            "name": "activeOnly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "applicationCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "departmentCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "permissionName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeChildrenDepartments",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeChildrenRoles",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/IGRPBusinessUserDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/m2m/sync/resources": {
      "post": {
        "tags": [
          "M2m"
        ],
        "summary": "Sync resources",
        "description": "Sync resources",
        "operationId": "syncResources",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/m2m/sync/permissions": {
      "post": {
        "tags": [
          "M2m"
        ],
        "summary": "Sync permissions",
        "description": "Sync permissions",
        "operationId": "syncPermissions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PermissionDTO"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/m2m/sync/applications": {
      "post": {
        "tags": [
          "M2m"
        ],
        "summary": "Sync applications",
        "description": "Sync applications",
        "operationId": "syncApplications",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/m2m/sync/applications/{code}/menus": {
      "post": {
        "tags": [
          "M2m"
        ],
        "summary": "Sync application menus",
        "description": "Sync application menus",
        "operationId": "syncApplicationMenus",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "syncRoles",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MenuEntryDTO"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/m2m/roles": {
      "post": {
        "tags": [
          "M2m"
        ],
        "summary": "Get roles for business",
        "description": "Get roles for business",
        "operationId": "getRolesForBusiness",
        "parameters": [
          {
            "name": "activeOnly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "parentCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeChildrenRoles",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/RoleDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/m2m/departments": {
      "post": {
        "tags": [
          "M2m"
        ],
        "summary": "Get department for business",
        "description": "Get department for business",
        "operationId": "getDepartmentForBusiness",
        "parameters": [
          {
            "name": "activeOnly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "parentCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeChildrenDepartments",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/DepartmentDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/global-configuration": {
      "get": {
        "tags": [
          "GlobalConfiguration"
        ],
        "summary": "Get global configuration",
        "description": "Get global configuration",
        "operationId": "getGlobalConfiguration",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/GlobalConfigurationDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "GlobalConfiguration"
        ],
        "summary": "Set global configuration",
        "description": "This Permission is required: igrp.applications.customize",
        "operationId": "setGlobalConfiguration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GlobalConfigurationDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/GlobalConfigurationDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/files/public": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Upload public file",
        "description": "Any of these Permissions is required: [igrp.users.update,igrp.applications.update]",
        "operationId": "uploadPublicFile",
        "parameters": [
          {
            "name": "folder",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The file ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/files/private": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Upload private file",
        "description": "Any of these Permissions is required: [igrp.users.update,igrp.applications.update]",
        "operationId": "uploadPrivateFile",
        "parameters": [
          {
            "name": "folder",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/departments": {
      "get": {
        "tags": [
          "Department"
        ],
        "summary": "Get departments",
        "description": "This Permission is required: igrp.departments.list",
        "operationId": "getDepartments",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Departments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Department"
        ],
        "summary": "Post department",
        "description": "This Permission is required: igrp.departments.create",
        "operationId": "postDepartment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepartmentDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/DepartmentDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/departments/{departmentCode}/roles/{roleCode}/permissions": {
      "get": {
        "tags": [
          "Department"
        ],
        "summary": "Get permissions by role id",
        "description": "This Permission is required: igrp.departments.view",
        "operationId": "getPermissionsByRoleId",
        "parameters": [
          {
            "name": "departmentCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/PermissionDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Department"
        ],
        "summary": "Add permissions",
        "description": "This Permission is required: igrp.departments.manage",
        "operationId": "addPermissions",
        "parameters": [
          {
            "name": "departmentCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/RoleDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Department"
        ],
        "summary": "Remove permissions",
        "description": "This Permission is required: igrp.departments.manage",
        "operationId": "removePermissions",
        "parameters": [
          {
            "name": "departmentCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/RoleDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/departments/{departmentCode}/resources": {
      "post": {
        "tags": [
          "Department"
        ],
        "summary": "Add resources to department",
        "description": "This Permission is required: igrp.departments.manage",
        "operationId": "addResourcesToDepartment",
        "parameters": [
          {
            "name": "departmentCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Department"
        ],
        "summary": "Remove resources from department",
        "description": "This Permission is required: igrp.departments.manage",
        "operationId": "removeResourcesFromDepartment",
        "parameters": [
          {
            "name": "departmentCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/departments/{departmentCode}/applications/{applicationCode}/menus": {
      "get": {
        "tags": [
          "Department"
        ],
        "summary": "Get department menus",
        "description": "This Permission is required: igrp.departments.view",
        "operationId": "getDepartmentMenus",
        "parameters": [
          {
            "name": "menuCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "departmentCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "applicationCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/MenuEntryDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Department"
        ],
        "summary": "Add menus to department",
        "description": "This Permission is required: igrp.departments.manage",
        "operationId": "addMenusToDepartment",
        "parameters": [
          {
            "name": "departmentCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "applicationCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Department"
        ],
        "summary": "Remove menus from department",
        "description": "This Permission is required: igrp.departments.manage",
        "operationId": "removeMenusFromDepartment",
        "parameters": [
          {
            "name": "departmentCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "applicationCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/departments/{code}/roles": {
      "get": {
        "tags": [
          "Department"
        ],
        "summary": "Get roles",
        "description": "This Permission is required: igrp.departments.view",
        "operationId": "getRoles",
        "parameters": [
          {
            "name": "roleCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/RoleDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Department"
        ],
        "summary": "Create role",
        "description": "This Permission is required: igrp.departments.manage",
        "operationId": "createRole",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/RoleDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/departments/{code}/permissions": {
      "get": {
        "tags": [
          "Department"
        ],
        "summary": "Get department permissions",
        "description": "This Permission is required: igrp.departments.view",
        "operationId": "getDepartmentPermissions",
        "parameters": [
          {
            "name": "permissionName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/PermissionDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Department"
        ],
        "summary": "Add permissions to department",
        "description": "This Permission is required: igrp.departments.manage",
        "operationId": "addPermissionsToDepartment",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Department"
        ],
        "summary": "Remove permissions from department",
        "description": "This Permission is required: igrp.departments.manage",
        "operationId": "removePermissionsFromDepartment",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/departments/{code}/applications": {
      "get": {
        "tags": [
          "Department"
        ],
        "summary": "Get department applications",
        "description": "This Permission is required: igrp.departments.view",
        "operationId": "getDepartmentApplications",
        "parameters": [
          {
            "name": "applicationCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ApplicationDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Department"
        ],
        "summary": "Add applications to department",
        "description": "This Permission is required: igrp.departments.manage",
        "operationId": "addApplicationsToDepartment",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Department"
        ],
        "summary": "Remove applications from department",
        "description": "This Permission is required: igrp.departments.manage",
        "operationId": "removeApplicationsFromDepartment",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/clients": {
      "get": {
        "tags": [
          "OAuth Clients"
        ],
        "summary": "List OAuth clients",
        "description": "This Permission is required: igrp.client.list",
        "operationId": "findAll_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OAuthClientDTO"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "OAuth Clients"
        ],
        "summary": "Create OAuth client",
        "description": "Returns the generated raw client secret in the response body; it will not be available again. This Permission is required: igrp.client.create",
        "operationId": "create_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuthClientRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthClientDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/authorize/check": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Check authorization",
        "description": "Check authorization",
        "operationId": "checkAuthorization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PermissionCheckRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/PermissionCheckResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/authorize/batch-check": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Batch check authorization",
        "description": "Batch check authorization",
        "operationId": "batchCheckAuthorization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PermissionCheckRequestDTO"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/PermissionCheckResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/reports/settings/archive": {
      "post": {
        "tags": [
          "audit-report-archive-controller"
        ],
        "operationId": "archiveSettingsReport",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "PDF",
                "XLSX",
                "CSV"
              ]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "performedBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "area",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entityType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entityName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuditReportFileDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/reports/audit/archive": {
      "post": {
        "tags": [
          "audit-report-archive-controller"
        ],
        "operationId": "archiveAuditReport",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "PDF",
                "XLSX",
                "CSV"
              ]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "module",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accessRole",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operationState",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorizedBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuditReportFileDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/reports/access/archive": {
      "post": {
        "tags": [
          "audit-report-archive-controller"
        ],
        "operationId": "archiveAccessReport",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "PDF",
                "XLSX",
                "CSV"
              ]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "module",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuditReportFileDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/audit/validate": {
      "post": {
        "tags": [
          "auth-audit-controller"
        ],
        "operationId": "validate",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/api/applications": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "Get applications",
        "description": "This Permission is required: igrp.applications.list",
        "operationId": "getApplications",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "departmentCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The List of Application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "Create application",
        "description": "This Permission is required: igrp.applications.create",
        "operationId": "createApplication",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The Persisted Application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/applications/{code}/resources": {
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "Link resource to application",
        "description": "This Permission is required: igrp.applications.manage",
        "operationId": "linkResourceToApplication",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Application"
        ],
        "summary": "Unlink resource from application",
        "description": "This Permission is required: igrp.applications.manage",
        "operationId": "unlinkResourceFromApplication",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/applications/{code}/custom-fields": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "Get application custom fields",
        "description": "This Permission is required: igrp.applications.view",
        "operationId": "getApplicationCustomFields",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application Custom Fields ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "Add application custom fields",
        "description": "This Permission is required: igrp.applications.update",
        "operationId": "addApplicationCustomFields",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Application"
        ],
        "summary": "Remove application custom fields",
        "description": "This Permission is required: igrp.applications.update",
        "operationId": "removeApplicationCustomFields",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/applications/{applicationCode}/menus": {
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "Create menu",
        "description": "This Permission is required: igrp.applications.manage",
        "operationId": "createMenu",
        "parameters": [
          {
            "name": "applicationCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MenuEntryDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The Persisted Menu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MenuEntryDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/applications/{applicationCode}/menus/{menuCode}/roles": {
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "Add roles to menu",
        "description": "This Permission is required: igrp.applications.manage",
        "operationId": "addRolesToMenu",
        "parameters": [
          {
            "name": "departmentCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "applicationCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "menuCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/MenuEntryDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Application"
        ],
        "summary": "Remove roles from menu",
        "description": "This Permission is required: igrp.applications.manage",
        "operationId": "removeRolesFromMenu",
        "parameters": [
          {
            "name": "departmentCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "applicationCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "menuCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/MenuEntryDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/users/{userExternalId}/sessions/{sessionId}/kill": {
      "post": {
        "tags": [
          "Admin User Session Management"
        ],
        "summary": "Kill a specific session belonging to a user",
        "description": "Terminates the given session id only when it belongs to the user identified by externalId. Returns 404 if the user does not exist, the session does not exist, or the session belongs to a different user.",
        "operationId": "killUserSession",
        "parameters": [
          {
            "name": "userExternalId",
            "in": "path",
            "description": "User external id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "description": "Session id (UUID)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionKillRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Session killed"
          },
          "404": {
            "description": "Session not found or does not belong to user"
          }
        }
      }
    },
    "/api/admin/users/{userExternalId}/logout-all": {
      "post": {
        "tags": [
          "Admin User Session Management"
        ],
        "summary": "Kill every active session for a user",
        "description": "Bulk-revokes every ACTIVE session bound to the given user external id.",
        "operationId": "logoutAll",
        "parameters": [
          {
            "name": "userExternalId",
            "in": "path",
            "description": "User external id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionKillRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Sessions revoked"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/api/admin/users/{userExternalId}/force-reauth": {
      "post": {
        "tags": [
          "Admin User Session Management"
        ],
        "summary": "Force re-authentication for a user",
        "description": "Phase F1 — bumps the user-wide token validity floor (tokens_not_valid_before) and revokes every active session. Every JWT issued before this instant — including tokens already in flight — is rejected by the SessionEnforcementFilter. Use after a password reset or any administrative \"log this user out everywhere\" action.",
        "operationId": "forceReauth",
        "parameters": [
          {
            "name": "userExternalId",
            "in": "path",
            "description": "User external id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionKillRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Re-auth enforced"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/api/admin/sessions/{sessionId}/kill": {
      "post": {
        "tags": [
          "Admin Session Management"
        ],
        "summary": "Kill session",
        "description": "Terminates a specific session by ID",
        "operationId": "killSession",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "description": "Session ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionKillRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
[...]
